* { box-sizing: border-box; }

body {
  font-family: 'Abel', sans-serif;
  height: 100vh;
  background: #1e1e1e;
  text-align: center;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #1e1e1e;
  border: 0.1em solid yellow;
  border-radius: 1.8em;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) );
  color: #eee;
  font-family: 'Abel', sans-serif;
  font-weight: 600;
  font-size: 28px;
  /* text-shadow: 0 1px white; */
  text-decoration: none;
  cursor: pointer;
  margin-bottom: 20px;
}

.button:hover {
  background-color: rgb(252, 235, 160);
  /* text-shadow: 0 1px hsla(0, 0%, 100%, 0.5); */
  color: #222;
}

.button:active {
  background-color: rgba(77, 77, 77, 0.877);
  color: rgb(231, 231, 231);
}
.button.is-checked {
  background-color: rgb(255, 238, 0);
}

.button.is-checked {
  color: black;
  /* text-shadow: 0 -1px hsla(0, 0%, 100%, 0.5); */
}


/* ---- isotope ---- */

.grid {
  border: 0px solid #332;
  /* max-width: 100%; */
  margin: 0 auto;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
  /* position: relative; */
  float: left;
  width: 130px;
  height: 130px;
  margin-bottom: 3px;
  /* padding: 0px; */
  background: #888;
  color: #262524;
}


.grid-item--w2 {width: 195px;}
.grid-item--w-pano {width: 531.6px;}
.grid-item--h2 {height: 195px;}

.grid-item--hp {height: 292.5px;}
.grid-item--wpano {width: 591px;}

/* .grid-item--wp { width: 120px; }
.grid-item--ws { width: 240px; }
.grid-item--wl { width: 240px; }
.grid-item--hp { height: 240px; }
.grid-item--hs { height: 240px; }
.grid-item--hl { height: 120px; } */


