* { box-sizing: border-box; }

body {
  font-family: 'Abel', sans-serif;
  height: 100vh;
  background: #1e1e1e;
  text-align: center;
}

/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.5em 1.0em;
  background: #1e1e1e;
  border: 0.1em solid yellow;
  border-radius: 1.8em;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0) );
  color: #eee;
  font-family: 'Abel', sans-serif;
  font-weight: 600;
  font-size: 18px;
  /* text-shadow: 0 1px white; */
  text-decoration: none;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(252, 235, 160);
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: rgb(255, 238, 0);
}

.button.is-checked {
  color: black;
  text-shadow: 0 -1px hsla(0, 0%, 100%, 0.5);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 100%, 0.5);
}

/* ---- button-group ---- */

.button-group {
  margin-bottom: 20px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.button-group {margin-left: 26vw;}
/* .button-group .button:last-child { margin-left: 40vw;} */ */

/* .button-group .button:first-child { border-radius: 0.5em 0.5em 0.5em 0.5em; }
.button-group .button:last-child { border-radius: 0.5em 0.5em 0.5em 0.5em; } */

/* ---- isotope ---- */

.grid {
  border: 0px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 100px;
  height: 100px;
  margin: 0px;
  padding: 0px;
  background: #888;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .name {
  position: absolute;

  left: 10px;
  top: 60px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 12px;
  font-weight: normal;
}

.element-item .symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.element-item .number {
  position: absolute;
  right: 8px;
  top: 5px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

